<!-- FOOTER -->
<footer class="footer has-background-light py-4">
    <div class="has-text-centered">
        <p class="copyright">Kotlin Ktor with <i class="mdi mdi-heart-multiple has-text-danger" size="is-small"></i> &copy;
            <a href="http://github.com/joseluisgs" target="_blank" rel="noopener noreferrer">José Luis González
                Sánchez</a>. 2022
        </p>
        <a href="https://twitter.com/joseluisgonsan" target="_blank">
            <i class="mdi mdi-24px mdi-twitter has-text-info"></i>
        </a>
        <a href="https://github.com/joseluisgs" target="_blank">
            <i class="mdi mdi-24px mdi-github has-text-dark"></i>
        </a>
        <a href="https://www.linkedin.com/in/joseluisgonsan/?locale=es_ES" target="_blank">
            <i class="mdi mdi-24px mdi-linkedin has-text-link-dark"></i>
        </a>
    </div>
</footer>

</body>
</html>