<html lang="es">
<head>
    <title>{{pageTitle}} | Kotlin Ktor Web App</title>
    <!-- BULMA -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- BULMA -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- ICONOS MATERIAL -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
    <!-- Mi CSS -->
    <link href="/web/css/style.css" rel="stylesheet">
</head>
<body>
<!-- ENCABEZADO -->
<header class="section has-background-link-dark py-4 has-text-white">
    <div class="container ">
        <div class="columns is-centered">
            <div class="column is-4 has-text-left">
                    <span class="icon">
                        <i class="mdi mdi-language-kotlin"></i>
                    </span>
                ktor@kotlin.org
            </div>
            <div class="column is-4 has-text-centered-desktop">
                <i class="mdi mdi-card-account-details"></i>
                CRUD Kotlin Ktor Web App
            </div>
            <div class="column has-text-right-tablet">
                <i class="mdi mdi-github"></i>
                <a href="http://github.com/joseluisgs" target="_blank" rel="noopener noreferrer" class="has-text-white">GitHub</a>
            </div>
        </div>
    </div>
</header>
