{{> header.hbs }}
<!-- ENCABEZADO -->


<section class="section">
    <div class="container">
        <div class="notification is-primary">
            <h1>{{pageTitle}}</h1>
            <h2>Hola, {{user.firstName}} {{user.lastName}}</h2>
        </div>
    </div>
</section>


<!-- FOOTER -->
{{> footer.hbs }}
